<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/landing/index.css">
<%- include('./partials/nav') %>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>

<section>
  <div class="welcome" >
    <h2 class="wlc">WELCOME!!! <%= user ? user.profile.name : "" %></h1>
  </div>
  <% if (user?.profile.avatar) { %>
    <div class="avatar">
      <img class="user"
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name%>  avatar" 
      />
    </div>
  <% } %>
  <% if (!user) { %>
    <div class="instruction">
      <h2 class="question"> Is it Vegan? </h2>
      <p class="login-inst"> Please log in using the Google button in the nav to check if your meal is vegan and/or share some of your tasty vegan snacks and meals.</p>
    </div>
    <h1 id="title" class="animate__animated animate__flip">VeganRify🥑</h1>
    <div class="about">
      <h5>About</h5>
      <p class="abt-parag"> VeganRify is an app you can find the answers to your questions about a meal or snack, check if it's vegan or not, share some of your own tasty vegan favorites, and explore other's favorite vegan delights!</p>
    </div>
  <% } %>
</section>

<%- include('./partials/footer') %>
