<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/products/index.css"/>
<%- include('../partials/nav') %>

<title><%= title %></title>

<div class="index-body">
  
  <div class="product-half">
    <!-- <h2 class="title">All Products</h2> -->
    
    <p class="search-inst"> Search for your product to see if it has been veganRify! </p>
    <article class="scroller">
      <% products.forEach(product => { %>
        <div class="product-card">
          <img src="<%= product.imageLink %>" alt="product image for post">
          <h4> MealName: <%= product.mealName %> <br> - Posted by <%= product.author.name %></h4>
          <p class="description-p"> Description: <%= product.description %></p>
          <div class="btn-action">
            <% if (product.author._id.equals(user.profile._id)) { %>
              <a href="/products/<%= product._id %>/edit"><button class="edit-btn">Edit</button></a>
              <% } %>
              <a href="/products/<%= product._id %>"><button class="details-btn">Details</button></a>
            </div>
          </div>
          <% }) %>
    </article>
  </div>
      
  <div class="image-half">

  </div>
</div>

<%- include('../partials/footer') %>