<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/products/show.css"/>
<%- include('../partials/nav') %>

<title><%= title %></title>

<!-- <h2>Product Detail</h2> -->
<div class="product-container">

  <div class="product-card">
    <img src="<%= product.imageLink %>" alt="product image for post">
    <h3><%= product.mealName %> - Posted by <%= product.author.name %></h3>
    <p class="comment-desc"><%= product.description %></p>
    <% if (product.author._id.equals(user.profile._id)) { %>
      <form action="/products/<%= product._id%>?_method=DELETE" method="POST">
        <button class="delete-btn">Delete Post</button>
      </form>
      <% } %>
  </div>

  <form class="comment-input" action="/products/<%= product._id %>/comments" method="POST">
    <textarea type="text" name="content" cols="28" rows="2" placeholder="comment here..."></textarea>
    <button class="submit-comment-btn" type="submit">Submit 💬</button>
  </form>

  <% if (product.comments.length) { %>
    <p class="comments-head">Comments:</p>
    <ul>
      <% product.comments.forEach(comment => { %>
      <li>
        <%= comment.content %> - <%= comment.author.name%>
        <% if (comment.author._id.equals(user.profile._id)) { %>
          <div class="comment-btns">
            <form action="/products/<%= product._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
              <button class="delete-comment-btn" type="submit">X</button>
            </form>
            <a href="/products/<%= product._id %>/comments/<%= comment._id %>/edit"><button class="edit-comment-btn">Edit</button></a>
          </div>
          <% } %>
        </li>
        <% }) %>
      </ul>
    <% } else {%>
        <p class="no-comments">Comments will appear here:</p>
        <% } %>
</div>
<%- include('../partials/footer') %>